@charset "UTF-8";
// ================================================================================
// Loop Meeting
// 交流会用ループアイテムのスタイル
// ================================================================================

@use '../00-config' as *;

.archive-contents {
    
}
.entry-item{
  margin-bottom: rem(40);
   @media #{$md-devices}{
    margin-bottom: fluid-calc(80);
   }

}

.entry-item__link{
  text-decoration: none; 
   gap: rem(24);
   @media #{$md-devices}{
    display: flex;
    gap: fluid-calc(40);
   
   }
   &:hover{
    .entry-item__title{
      color: $color-primary;
    }
   }
  
}
.entry-item__title{
  margin: 0 !important;
  margin-top: rem(16);
  font-size: rem(18);
  color: $color-primary;
   @media #{$md-devices}{
    font-size:  fluid-calc(24);
    color: #030303;
    transition: all .8s;
   }
}
.entry-item__thumbnail img{
  width: 100%;
  height: auto;
  @media #{$md-devices}{
    max-width: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.entry-item__text{
  margin: 0 !important;
  margin-top: rem(16) !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* 制限したい行数を指定 */
  overflow: hidden;
}
.entry-item__cat,.entry-item__date{
  margin: 0 !important;
  line-height: 1.4 !important;
}

.category__wrapper{
    padding: 0 rem(24);
    margin-top: rem(40);
     @media #{$md-devices} {
        max-width: fluid-calc(1180);
        width: 100%;
        margin:  fluid-calc(80) auto 0;
     }
   
}

.category__title{
    text-align: center;
    border-top: 2px solid $color-primary;
     border-bottom: 2px solid $color-primary;
}
.category__list{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
     gap: rem(16);
     margin-top: rem(24);
     padding: 0;
    @media #{$md-devices}{
        flex-direction: row;
        gap: fluid-calc(32);
    }
}
.category__item{
    background-color: beige;
    padding: rem(16) rem(24);
    border-radius: rem(16);
     width: calc((100% - 16px) / 2);
    list-style: none;
     @media #{$md-devices}{
        width: calc((100% - 72px) / 3);
     }
     &.is-noon {
      background-color: #F5DCDC;
     }
}

.category__link{
  color: $color-default;
  text-decoration: none;
}
.category__ttl{
  text-align: center;
  font-weight: 400;
  color: $color-primary;
  a{
    color: $color-primary;
  }
}
.category__text{
  display: -webkit-box;
   -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* 制限したい行数を指定 */
  overflow: hidden;
  line-height: 1.4;
   @media #{$md-devices}{
 -webkit-line-clamp: 3; /* 制限したい行数を指定 */
 line-height: 1.6;
   }
}

