@charset "UTF-8";
// ================================================================================
// Mixin
// グローバルなmixinはここに格納します。それ以外はそのscssファイルのみで完結。
// ================================================================================

@use 'variables' as *;
@use 'functions' as *;
@use "sass:meta";
@use "sass:math";

// -----------------------------------------------------------------
// レイアウト関連
// -----------------------------------------------------------------

// コンテナサイズ - ワイド
@mixin content-wide() {
	box-sizing: border-box;
	width: 100%;
	max-width: calc( 100vw - #{$spacing-horizontal} * 2);
	margin-left: auto;
	margin-right: auto;
	@media #{$md-devices} {
		box-sizing: content-box;
		max-width: fluid-calc($wide-size);
		padding-right: fluid-calc($spacing-horizontal-md);
		padding-left: fluid-calc($spacing-horizontal-md);
	}
}

// コンテナサイズ - ノーマル
@mixin content() {
	box-sizing: border-box;
	width: 100%;
	max-width: calc( 100vw - #{$spacing-horizontal} * 2);
	margin-left: auto;
	margin-right: auto;
	@media #{$md-devices} {
		box-sizing: content-box;
		max-width: fluid-calc($content-size);
		padding-right: fluid-calc($spacing-horizontal-md);
		padding-left: fluid-calc($spacing-horizontal-md);
	}
}



// -----------------------------------------------------------------
// アイコン関連
// -----------------------------------------------------------------

// 疑似要素の背景設定
@mixin ps-icon($t: 0, $r: 0, $b: 0, $l: 0) {
	box-sizing: border-box;
	content: "";
	display: block;
	position: absolute;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
	margin: auto;
}

// 背景アイコン
@mixin icon($t: 0, $r: 0, $b: 0, $l: 0) {
	box-sizing: border-box;
	position: absolute;
	display: block;
	top: $t;
	right: $r;
	bottom: $b;
	left: $l;
	margin: auto;
}

// svg アイコン利用時の background 設定
@mixin background-icon($l: 0, $t: 0) {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: $l $t;
}

// ">" の矢印アイコン
@mixin background-icon-arrow($color: "23A1D6") {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12" fill="none"><path stroke="%23#{$color}" stroke-width="2" d="m1 1.059 6 5-6 5"/></svg>');
}


// メールのアイコン
@mixin background-icon-mail($color: "ffffff") {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="none"><path fill="%23#{$color}" d="M19.99 3.54v9.47c0 1.59-1.24 2.9-2.82 2.99H2.99C1.4 16 .09 14.76 0 13.18V3.53l9.44 6.3.12.07c.28.14.6.14.88 0l.12-.07L20 3.53z"/><path fill="%23#{$color}" d="M16.99 0c1.08 0 2.03.57 2.56 1.43L9.99 7.8.43 1.43C.94.6 1.82.07 2.78.01h14.2z"/></svg>');
}

// LINEのアイコン
@mixin background-icon-line($color: "ffffff") {
	background-image: url('data:image/svg+xml;utf8,<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 8.517C22 3.821 17.066 0 11 0C4.934 0 0 3.82 0 8.517C0 12.727 3.914 16.253 9.2 16.92C9.558 16.994 10.045 17.145 10.169 17.437C10.28 17.703 10.241 18.118 10.205 18.387L10.048 19.285C10 19.55 9.828 20.323 11.001 19.851C12.174 19.379 17.336 16.291 19.643 13.757C21.237 12.089 22 10.397 22 8.517Z" fill="%23#{$color}"/><path d="M18.3399 11.23H15.2499C15.2228 11.2307 15.1959 11.226 15.1706 11.2161C15.1454 11.2063 15.1223 11.1916 15.1028 11.1728C15.0832 11.154 15.0676 11.1316 15.0568 11.1067C15.0461 11.0818 15.0403 11.0551 15.0399 11.028V6.448C15.0399 6.338 15.1329 6.248 15.2499 6.248H18.3399C18.4549 6.248 18.5499 6.338 18.5499 6.448V7.193C18.5499 7.304 18.4559 7.393 18.3399 7.393H16.2399V8.167H18.3399C18.4549 8.167 18.5499 8.257 18.5499 8.367V9.112C18.5499 9.223 18.4559 9.312 18.3399 9.312H16.2399V10.086H18.3399C18.4549 10.086 18.5499 10.176 18.5499 10.286V11.031C18.5499 11.143 18.4559 11.232 18.3399 11.232V11.23ZM6.90891 11.23C7.02391 11.23 7.11891 11.14 7.11891 11.028V10.284C7.11891 10.174 7.02391 10.084 6.90891 10.084H4.80891V6.446C4.80891 6.336 4.71391 6.246 4.59891 6.246H3.81791C3.70091 6.246 3.60791 6.336 3.60791 6.446V11.027C3.60791 11.139 3.70091 11.228 3.81791 11.228H6.90791M8.76891 6.248H7.98891C7.87291 6.248 7.77891 6.338 7.77891 6.448V11.028C7.77891 11.139 7.87291 11.229 7.98891 11.229H8.76891C8.88491 11.229 8.97891 11.139 8.97891 11.029V6.449C8.97891 6.337 8.88491 6.248 8.76891 6.248ZM14.0799 6.248H13.2999C13.1829 6.248 13.0889 6.338 13.0889 6.448V9.168L10.8929 6.338L10.8759 6.318V6.316C10.8712 6.31267 10.8669 6.30867 10.8629 6.304L10.8589 6.301L10.8469 6.291L10.8409 6.288L10.8299 6.281C10.8279 6.28034 10.8259 6.279 10.8239 6.277L10.8119 6.271L10.8059 6.268L10.7939 6.263L10.7859 6.261C10.7819 6.26034 10.7779 6.259 10.7739 6.257L10.7669 6.255L10.7549 6.253L10.7449 6.252L10.7339 6.251H9.93991C9.82491 6.251 9.72991 6.341 9.72991 6.451V11.031C9.72991 11.141 9.82391 11.232 9.93991 11.232H10.7199C10.8369 11.232 10.9299 11.142 10.9299 11.032V8.312L13.1299 11.146C13.1454 11.1669 13.1647 11.1845 13.1869 11.198L13.1999 11.206L13.2059 11.209C13.2099 11.2103 13.2132 11.2117 13.2159 11.213L13.2269 11.217L13.2329 11.219L13.2479 11.223H13.2509C13.2687 11.227 13.2867 11.2293 13.3049 11.23H14.0809C14.1959 11.23 14.2909 11.14 14.2909 11.03V6.45C14.2909 6.34 14.1969 6.249 14.0809 6.249L14.0799 6.248Z" fill="%23#{D17882}"/></svg>');
}



// Instagramのアイコン
@mixin background-icon-insta($color: "ffffff") {
	background-image: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path=""><path d="M9.89 1.78C12.53 1.78 12.85 1.79 13.89 1.84C14.86 1.88 15.38 2.05 15.73 2.18C16.19 2.36 16.52 2.57 16.87 2.92C17.22 3.27 17.43 3.6 17.61 4.06C17.75 4.41 17.91 4.93 17.95 5.9C18 6.94 18.01 7.26 18.01 9.9C18.01 12.54 18 12.86 17.95 13.9C17.91 14.87 17.74 15.39 17.61 15.74C17.43 16.2 17.22 16.53 16.87 16.88C16.52 17.23 16.19 17.44 15.73 17.62C15.38 17.76 14.86 17.92 13.89 17.96C12.85 18.01 12.53 18.02 9.89 18.02C7.25 18.02 6.93 18.01 5.89 17.96C4.92 17.92 4.4 17.75 4.05 17.62C3.59 17.44 3.26 17.23 2.91 16.88C2.56 16.53 2.35 16.2 2.17 15.74C2.03 15.39 1.87 14.87 1.83 13.9C1.78 12.86 1.77 12.54 1.77 9.9C1.77 7.26 1.78 6.94 1.83 5.9C1.87 4.93 2.04 4.41 2.17 4.06C2.35 3.6 2.56 3.27 2.91 2.92C3.26 2.57 3.59 2.36 4.05 2.18C4.4 2.04 4.92 1.88 5.89 1.84C6.93 1.79 7.25 1.78 9.89 1.78ZM9.89 0C7.2 0 6.86 0.01 5.81 0.06C4.76 0.11 4.04 0.28 3.41 0.52C2.76 0.77 2.21 1.11 1.66 1.66C1.11 2.21 0.77 2.76 0.52 3.41C0.28 4.04 0.11 4.76 0.06 5.81C0.01 6.87 0 7.2 0 9.89C0 12.58 0.01 12.92 0.06 13.97C0.11 15.02 0.28 15.74 0.52 16.37C0.77 17.02 1.11 17.57 1.66 18.12C2.21 18.67 2.76 19.01 3.41 19.26C4.04 19.5 4.76 19.67 5.81 19.72C6.87 19.77 7.2 19.78 9.89 19.78C12.58 19.78 12.92 19.77 13.97 19.72C15.02 19.67 15.74 19.5 16.37 19.26C17.02 19.01 17.57 18.67 18.12 18.12C18.67 17.57 19.01 17.02 19.26 16.37C19.5 15.74 19.67 15.02 19.72 13.97C19.77 12.91 19.78 12.58 19.78 9.89C19.78 7.2 19.77 6.86 19.72 5.81C19.67 4.76 19.5 4.04 19.26 3.41C19.01 2.76 18.67 2.21 18.12 1.66C17.57 1.11 17.02 0.77 16.37 0.52C15.74 0.28 15.02 0.11 13.97 0.06C12.91 0.01 12.58 0 9.89 0Z" fill="%23#{$color}"/><path d="M9.89005 4.81999C7.08005 4.81999 4.80005 7.09999 4.80005 9.90999C4.80005 12.72 7.08005 15 9.89005 15C12.7 15 14.98 12.72 14.98 9.90999C14.98 7.09999 12.7 4.81999 9.89005 4.81999ZM9.89005 13.21C8.07005 13.21 6.59005 11.73 6.59005 9.90999C6.59005 8.08999 8.07005 6.60999 9.89005 6.60999C11.71 6.60999 13.19 8.08999 13.19 9.90999C13.19 11.73 11.71 13.21 9.89005 13.21ZM15.18 5.80999C15.3363 5.80999 15.4911 5.77921 15.6354 5.71941C15.7798 5.65961 15.911 5.57195 16.0215 5.46145C16.132 5.35095 16.2197 5.21976 16.2795 5.07539C16.3393 4.93101 16.37 4.77627 16.37 4.61999C16.37 4.46372 16.3393 4.30898 16.2795 4.1646C16.2197 4.02022 16.132 3.88904 16.0215 3.77854C15.911 3.66803 15.7798 3.58038 15.6354 3.52058C15.4911 3.46077 15.3363 3.42999 15.18 3.42999C14.8644 3.42999 14.5618 3.55537 14.3386 3.77854C14.1154 4.0017 13.99 4.30438 13.99 4.61999C13.99 4.9356 14.1154 5.23828 14.3386 5.46145C14.5618 5.68462 14.8644 5.80999 15.18 5.80999Z" fill="%23#{$color}"/></g><defs><clipPath id="clip0_2110_537"><rect width="20" height="20" fill="%23#{$color}"/></clipPath></defs></svg>');
}


// Youtubeのアイコン
@mixin background-icon-youtube($color: "ffffff") {
	background-image: url('data:image/svg+xml;utf8,<svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.88295 0.270013C10.363 -0.129987 22.993 -0.409987 25.253 1.90001C27.283 3.98001 27.353 15.29 25.553 17.7C23.343 20.66 7.41295 20.16 3.77295 19.06C-0.597046 17.74 -0.157046 10.37 0.232954 6.57001C0.762954 1.37001 2.01295 0.830013 6.89295 0.270013H6.88295ZM10.093 14.28C11.223 13.26 17.213 11.06 16.883 9.66001L10.093 5.64001V14.28Z" fill="%23#{$color}"/></svg>');
}











// -----------------------------------------------------------------
// ホバー関連
// NOTE: 参考 https://zenn.dev/kagan/articles/css-hover-style
// -----------------------------------------------------------------

// デフォルト使用
@mixin hover {
	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
	backface-visibility: hidden;
	@media (hover: hover){
		&:where(:any-link, :enabled, summary):hover {
			opacity: .7;
		}
	}
}

// class 依存
// @mixin hover-customize {
// 	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
// 	backface-visibility: hidden;
// 	@media (hover: hover){
// 		&:where(:any-link, :enabled, summary):hover {
// 			@content;
// 		}
// 	}
// }

@mixin hover-customize {
	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
	backface-visibility: hidden;
  
	@media (hover: hover) {
	  &:hover {
		@content;
	  }
	}
}



// -----------------------------------------------------------------
// アニメーション関連
// -----------------------------------------------------------------

// プロパティ・秒数指定
@mixin anime($property, $duration) {
	transition: $property $duration cubic-bezier(0.4, 0.0, 0.2, 1);
	backface-visibility: hidden;
}

// allアニメーション
@mixin anime-all {
	transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
	backface-visibility: hidden;
}



// -----------------------------------------------------------------
// ユーティリティ関連
// -----------------------------------------------------------------

// margin, padding リセット
@mixin reset {
	padding: 0;
	margin: 0;
}

// inline-blockレイアウト
@mixin ib($value) {
	text-align: $value;
	letter-spacing: -.40em;
}

@mixin ib_child {
	display: inline-block;
	letter-spacing: normal;
}


