@charset "UTF-8";
// ================================================================================
// Variable
// NOTE:グローバルな変数を設定。それ以外はそのscssファイルのみで完結。
// ================================================================================

@use "sass:meta";
@use "sass:math";

// ----------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------

//$breakpoint-xs: 320px;
$breakpoint-sm: 375px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

// iPhone SE サイズ
$xs-devices-only: "only screen and ( max-width: #{$breakpoint-sm - 1} )";

// モバイルまで
$sm-devices-only: "only screen and ( max-width: #{$breakpoint-md - 1} )";

// タブレット以上
$md-devices: "print, only screen and ( min-width: #{$breakpoint-md} )";

// 1160px~
$lg-devices: "print, only screen and ( min-width: #{$breakpoint-lg} )";

// 1360px~
$xl-devices: "print, only screen and ( min-width: #{$breakpoint-xl} )";



// ----------------------------------------------------------------
// Scale, Size
// ----------------------------------------------------------------

// fluid
// --------------------------------------------------------------- //
// clamp の値
// Values min : 12
// Values max : 16
// Viewport min : 1024
// Viewport max : 1160
$clamp: clamp(0.75rem, -1.132rem + 2.94vw, 1rem);

// width
$content-size: 960px;
$wide-size: 1200px;
$content-size: 1040px;
$side-size: 22.72727273%;

// for ipad reduce scaling
$min-width: 1024px;

// space
$spacing-left: var(--wp--style--root--padding-left);
$spacing-right: var(--wp--style--root--padding-right);

// gap
$block-gap: var(--wp--style--block-gap);

// radius
$radius-max: 160px;



// ----------------------------------------------------------------
// Font Family
// ----------------------------------------------------------------

// デフォルトフォント
$font: 'Zen Kaku Gothic New', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo sans-serif;


// 英語フォント
$font-english: 'Roboto', 'Zen Kaku Gothic New', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo sans-serif;


// 明朝フォント
$font-mincho: 'Zen Old Mincho', 'Zen Kaku Gothic New', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo sans-serif;

// ----------------------------------------------------------------
// Color
// ----------------------------------------------------------------

$color-default: #000000;
$color-primary: #8fc04a;
$color-secondary: #D17882;
$color-gray: #EFEFEF;
$color-background-primary: #FFF2F1;
$color-background-secondary: #F2F8E4;
$color-background-tertiary: #FAF7F2;

