@charset "UTF-8";
// ================================================================================
// Variable
// NOTE:グローバルな変数を設定。それ以外はそのscssファイルのみで完結。
// ================================================================================

@use "sass:meta";
@use "sass:math";

// ----------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------

//$breakpoint-xs: 320px;
$breakpoint-sm: 375px;
$breakpoint-md: 782px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1366px;

// iPhone SE サイズ
$xs-devices-only: "only screen and ( max-width: #{$breakpoint-sm - 1} )";

// モバイルまで
$sm-devices-only: "only screen and ( max-width: #{$breakpoint-md - 1} )";

// タブレット以上
$md-devices: "print, only screen and ( min-width: #{$breakpoint-md} )";

// 1080px~
$lg-devices: "print, only screen and ( min-width: #{$breakpoint-lg} )";

// 1200px~
$xl-devices: "print, only screen and ( min-width: #{$breakpoint-xl} )";

// 1366px~
$xxl-devices: "print, only screen and ( min-width: #{$breakpoint-xxl} )";



// ----------------------------------------------------------------
// Scale, Size
// ----------------------------------------------------------------

// fluid
// --------------------------------------------------------------- //
// clamp の値 ※ README.md を参照
// Values min : 14
// Values max : 16
// Viewport min : 1080
// Viewport max : 1296
$clamp: clamp(0.875rem, 0.25rem + 0.93vw, 1rem);

// width
$content-size: var(--wp--style--global--content-size);
$wide-size: var(--wp--style--global--wide-size);
$narrow-size: 832px;

// for ipad reduce scaling
$min-width: $breakpoint-lg;

// header
$header-height: var(--wp--preset--spacing--header, 64px);
$md-header-height: var(--wp--preset--spacing--header, 64px);

// space
$spacing-left: var(--wp--style--root--padding-left);
$spacing-right: var(--wp--style--root--padding-right);

// gap
$block-gap: var(--wp--style--block-gap);

// radius
$radius: 4px;
$radius-max: 160px;



// ----------------------------------------------------------------
// Font Family
// ----------------------------------------------------------------

// ベースフォント
$font: var(--wp--preset--font-family--body);

// 英語フォント
$font-english: var(--wp--preset--font-family--decoration);


