@charset "UTF-8";
// ================================================================================
// Front Page
// フロントページのスタイル
// ================================================================================

@use '../../00-config' as *;

// ----------------------------------------------------------------
// メインビジュアル
// ----------------------------------------------------------------
.about{
.site-main{
    @media #{$md-devices}{
        max-width: fluid-calc(800);
        margin: 0 auto;
        }
    }
     .wp-element-caption{
        font-size: rem(11) !important;
        line-height: 1.4;
        @media #{$md-devices}{
            font-size:  fluid-calc(11) !important;
    }
   }
}
 .about__staff-img{
    gap: 20px !important;
    .wp-block-image{
         flex-grow: initial !important;
           width: calc((100% - 20px) / 2) !important;
         @media #{$md-devices}{
            width: calc((100% - 80px) / 5) !important;
         
         }
    }
 }
