@charset "UTF-8";
// ================================================================================
// wp:buttons
// wp:button
// ボタンブロックのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-block-button {
		box-sizing: border-box;
		min-width: rem(264);
		@media #{$md-devices} {
			min-width: fluid-calc(264);
		}

		.wp-block-button__link {
			@include hover;

			mark {
				@include mask-icon-chevron();
				@include mask-icon(0, 50%);
				// mask-size: cover;
				display: inline-flex;
				margin-left: .6em;
				mask-size: 1.14285714em 1.14285714em;
				width: 1.14285714em;
				height: 1.14285714em;
				vertical-align: text-top;
				margin-top: 0.2em;
				@media #{$md-devices} {
					mask-size: 1.14285714em 1.14285714em;
					width: 1.14285714em;
					height: 1.14285714em;
					margin-top: 0.17em;
				}
			}

		}

	}


	// 追加スタイル
	// --------------------------------------------------------------- //

	.wp-block-button.is-style-wide {
		width: 100%;
		@media #{$md-devices} {
			width: auto;
			min-width: fluid-calc(320);
		}
	}



	// 高度な設定
	// --------------------------------------------------------------- //

	// .wp-block-button.is-wide {
	// }


}

