@charset "UTF-8";
// ================================================================================
// wp:paragraph
// 段落ブロックのスタイル
// ================================================================================

@use '../00-config' as *;

p {
	a[target="_blank"] {
	}

	// &.has-text-color {
	// 	a {
	// 		color: currentColor;
	// 	}
	// }
}

.has-white-color {
}



// 追加スタイル
// --------------------------------------------------------------- //

.is-style-note {
	box-sizing: border-box;
	text-indent: -1em;
	padding-left: 1em;
	&:before {
		content: "※";
	}
}
