@charset "UTF-8";
// ================================================================================
// wp:post-terms
// カテゴリーのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-block-post-terms {

		a,
		span {
			@include hover;

			& {
				box-sizing: border-box;
				text-align: center;
				text-decoration: none;
				display: block;
				min-width: rem(96);
				padding: rem(1) rem(8);
				@media #{$md-devices} {
					min-width: fluid-calc(112);
					padding: fluid-calc(1) fluid-calc(8);
				}
			}
		}

	}

}
