@charset "UTF-8";
// ================================================================================
// wp:query
// クエリループのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-block-query-pagination {
		box-sizing: border-box;
		justify-content: center;
		margin-top: rem(48);
		gap: rem(12);
		@media #{$md-devices} {
			margin-top: fluid-calc(48);
			gap: fluid-calc(16);
		}

		.wp-block-query-pagination-numbers {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: rem(12);
			@media #{$md-devices} {
				gap: fluid-calc(16);
			}
			.page-numbers {
				border-radius: $radius;
				background: var(--wp--preset--color--white, #FFF);
				border: 1px solid var(--wp--preset--color--border-primay, #D4D4D4);
				color: currentColor;
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				text-align: center;
				font-family: $font-english;
				font-size: rem(15);
				font-style: normal;
				font-weight: 600;
				line-height: 1;
				text-decoration: none;
				width: rem(40);
				height: rem(40);
				@media #{$md-devices} {
					width: fluid-calc(40);
					height: fluid-calc(40);
				}

				@include hover;

				&.current {
					border-color: var(--wp--preset--color--white, #FFF);
					background-color: var(--wp--preset--color--white, #FFF);
					color: currentColor;
				}
			}
		}

		.wp-block-query-pagination-previous,
		.wp-block-query-pagination-next {
			position: relative;
			display: flex;
			width: fluid-calc(40);
			height: fluid-calc(40);
			@media #{$sm-devices-only} {
				display: none;
			}
			.wp-block-query-pagination-previous-arrow,
			.wp-block-query-pagination-next-arrow {
				@include icon(0, 0, 0, 0);
				@include background-icon-chevron("%23999999");
				@include background-icon(50%, 50%);
				@include anime-all;
				font-size: 0;
				line-height: 0;
				width: fluid-calc(24);
				height: fluid-calc(24);
				transform-origin: 50% 50%;

			}

			@include hover;
		}

		.wp-block-query-pagination-previous {
			.wp-block-query-pagination-previous-arrow {
				transform: scale(-1, 1);
			}
		}

	}


}
