@charset "UTF-8";
// ================================================================================
// Header
// ヘッダーのスタイル
// ================================================================================

@use '../00-config' as *;

// ----------------------------------------------------------------
// ヘッダー 骨格
// ----------------------------------------------------------------

.wp-pattern-header {
	position: relative;
	box-sizing: border-box;

	.wp-pattern-header__container {
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: $header-height;
		@media #{$md-devices} {
			height: $md-header-height;
		}
	}
}



// バリエーション
// --------------------------------------------------------------- //

:where(body):not(.wp-admin) {
	// スティッキー
	header.wp-block-template-part:has(.wp-pattern-header.is-sticky) {
		position: sticky;
		top: 0;
		z-index: 100;

		.wp-block-acf-site-menu-button,
		.wp-block-site-menu-button {
			@media #{$sm-devices-only} {
				position: absolute;
			}
		}
	}

	// 固定
	header.wp-block-template-part:has(.wp-pattern-header.is-fixed) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;

		.wp-pattern-header.is-fixed  {
			transition: background-color .3s cubic-bezier(0.4, 0.0, 0.2, 1);
			backface-visibility: hidden;
			background-color: transparent;
			&.is-scrolled {
				// background-color: var(--wp--preset--color--white, #FFF);
				background-color: currentColor;
			}
		}

		.wp-block-acf-site-menu-button,
		.wp-block-site-menu-button {
			@media #{$sm-devices-only} {
				position: absolute;
			}
		}
	}

}


// ----------------------------------------------------------------
// ブランディング
// ----------------------------------------------------------------

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-pattern-site-branding {
		max-width: none;

		.wp-pattern-site-branding__logo {
			flex-shrink: 0;
			a {
				@include hover;
			}
			img {
				object-fit: contain;
				object-position: left center;
				width: rem(120);
				height: rem(38);
				@media #{$md-devices} {
					width: fluid-calc(188);
					height: fluid-calc(64);
				}
			}
		}

		.wp-pattern-site-branding__title {
			display: none;
			a {
				@include hover;
				& {
					text-decoration: none;
				}
			}

			@media #{$xl-devices} {
				display: block;
			}
		}
	}

}

