@charset "UTF-8";
// ================================================================================
// Heading
// 見出しのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	// バリエーション 1
	// --------------------------------------------------------------- //

	.wp-pattern-heading-var1 {
	}


	// バリエーション 2
	// --------------------------------------------------------------- //

	.wp-pattern-heading-var2 {
		gap: var(--wp--preset--spacing--16-24, 1.5rem);
		align-items: baseline;
	}


	// 画像付き
	// --------------------------------------------------------------- //

	.wp-pattern-heading-with-image {
		img {
			height: 1.5em;
			width: auto !important;
			max-width: none;
			vertical-align: bottom;
			margin-right: rem(16);
			@media #{$md-devices} {
				margin-right: fluid-calc(24);
			}
		}
	}

}

// for admin
// .is-root-container.block-editor-block-list__layout {
// 	.wp-pattern-page-heading-backgorund {
// 		z-index: 0;
// 	}
// }

