@charset "UTF-8";
// ================================================================================
// Hero Cover
// メインビジュアル（単一画像）のスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-pattern-hero-cover {
		min-height: rem(352);
		@media #{$md-devices} {
			min-height: fluid-calc(640);
		}

		.wp-pattern-hero-cover__container {
			gap: rem(24);
			@media #{$md-devices} {
				gap: fluid-calc(48);
			}
		}

		.wp-pattern-hero-cover__title {
			@media #{$sm-devices-only} {
				font-size: rem(20) !important;
			}
		}

		.wp-pattern-hero-cover__description {
			@media #{$sm-devices-only} {
				font-size: rem(12) !important;
			}
		}

	}

}
