@charset "UTF-8";
// ================================================================================
// Hero Slider
// メインビジュアル（スライダー）のスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-pattern-hero-slider {
		min-height: max(75svh, rem(352));
		@media #{$md-devices} {
			min-height: max(75svh, fluid-calc(640));
		}

		.wp-block-cover__inner-container {
			position: static;
		}

		.wp-pattern-hero-slider__container {
			position: relative;
			gap: rem(24);
			@media #{$md-devices} {
				gap: fluid-calc(48);
			}
		}

		.wp-pattern-hero-slider__title {
			@media #{$sm-devices-only} {
				font-size: rem(20) !important;
			}
		}

		.wp-pattern-hero-slider__description {
			@media #{$sm-devices-only} {
				font-size: rem(12) !important;
			}
		}
	}

}


// for admin
// --------------------------------------------------------------- //

.editor-styles-wrapper {
	.wp-pattern-hero-slider {

		.block-editor-block-list__layout .block-editor-block-list__block {
			position: static;
		}
	}
}
