@charset "UTF-8";
// ================================================================================
// Local Navigation
// ローカルナビゲーションのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-pattern-local-navigation {
		position: relative;

		@media #{$sm-devices-only} {
			justify-content: center;
		}

		.post-navigation-link-previous,
		.post-navigation-link-next {
			@media #{$md-devices} {
				padding-top: fluid-calc(8);
			}
			a {
				text-decoration: none;
			}

			@media #{$sm-devices-only} {
				display: none;
			}
		}

		.wp-block-buttons {
			position: absolute;
			top: 0;
			left: 50%;
			transform-origin: 50% 50%;
			transform: translate(-50%, 0);
		}
	}

}
