@charset "UTF-8";
// ================================================================================
// Page Header
// 第2階層以降のページヘッダーのスタイル
// ================================================================================

@use '../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-pattern-page-header {
		.wp-pattern-page-header__inner {
			box-sizing: border-box;
			padding-top: var(--wp--preset--spacing--32-48, 2rem);
			padding-bottom: var(--wp--preset--spacing--32-48, 2rem);
			display: flex;
			flex-direction: column;
			gap: rem(8);
			@media #{$md-devices} {
				flex-direction: row;
				align-items: baseline;
				gap: fluid-calc(24);
				padding-top: var(--wp--preset--spacing--48-80, 5rem);
				padding-bottom: var(--wp--preset--spacing--48-80, 5rem);
			}
		}
	}

	.wp-pattern-page-title {
	}
	.wp-pattern-page-subtitle {
	}


}

// for admin
// .is-root-container.block-editor-block-list__layout {
// }
