@charset "UTF-8";
// ================================================================================
// acf:slider
// スライダーのスタイル
// ================================================================================

@use '../../00-config' as *;

.is-layout-constrained,
.is-root-container.block-editor-block-list__layout {

	.wp-block-acf-slider,
	.wp-block-slider {

		.swiper-slide-active .swiper-img.is-scaled-animation,
		.swiper-slide-duplicate-active .swiper-img.is-scaled-animation,
		.swiper-slide-prev .swiper-img.is-scaled-animation {
			animation: zoomUp 7s linear 0s normal both;
		}
		.swiper-slide img {
			height: auto;
			width: 100%;
		}

		&.is-full-size {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;

			.swiper,
			.swiper-slide,
			.swiper-img {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: 50% 50%;
				}
			}
		}
	}

}

@keyframes zoomUp {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}


// for admin
// --------------------------------------------------------------- //

.editor-styles-wrapper {
	.wp-block-slider {
		.swiper-slide ~ .swiper-slide {
			display: none;
		}
	}
}



