// ================================================================================
// Admin
// 管理画面のスタイル
// ================================================================================

@use '../00-config' as *;

// ----------------------------------------------------------------
// ページメイン
// ----------------------------------------------------------------

.editor-styles-wrapper {
    
    .alignfull {
        @media #{$md-devices} {
            max-width: 1100px!important;
            margin-left: auto!important;
            margin-right: auto!important;
        }
    }
    .page-main {
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;

        .wp-block-image {
            top: 0;
            right: 0;
            width: 50%;
        }

        .page-main-detail {
            width: 50%;
            transform: none;
            bottom: 0;
        }
    }
    .snow-monkey-form {
        margin-right: auto;
        margin-left: auto;
    }

    .wp-block-qa-item__detail {
        height: auto;
    }

    .component-button {
        max-width: fluid-calc(400)!important;
    }

    .front-main {
        &:after {
            display: none;
        }
    }

    .js-animation-fade {
        opacity: 1;
    }

    .wp-block-main-slide-item {
        &:not(:first-of-type) {
            display: none;
        }
    }
}
.wp-admin time{
    opacity: 0;
}

// // ----------------------------------------------------------------
// // エディタラッパー
// // ----------------------------------------------------------------

// .editor-styles-wrapper {
// 	padding-bottom: rem(64);
// }

