<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|64-128"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--64-128)">

	<!-- wp:heading {"level":1,"style":{"spacing":{"margin":{"top":"var:preset|spacing|48-80"}},"typography":{"lineHeight":"1.5","fontStyle":"normal","fontWeight":"400"}},"fontSize":"level-1","fontFamily":"decoration"} -->
	<h1 class="wp-block-heading has-decoration-font-family has-level-1-font-size" style="margin-top:var(--wp--preset--spacing--48-80);font-style:normal;font-weight:400;line-height:1.5">404 Not found</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"var:preset|spacing|32-48"}}}} -->
	<p style="margin-top:var(--wp--preset--spacing--32-48)">アクセスしたページは、アドレスが変更されたか、削除された可能性があります。<br>お手数ですが次のTOPページからから目的の情報をお探しください。</p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons {"metadata":{"categories":["theme-parts"],"patternName":"theme/button-outline","name":"ボタン（輪郭）"},"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button {"textColor":"primary","className":"is-style-outline","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} -->
		<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-primary-color has-text-color has-link-color wp-element-button" href="/">TOPページへ<mark style="background-color:#1D2088" class="has-inline-color">　</mark></a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
