<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|64-128"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--64-128)">

	<!-- wp:pattern {"slug":"theme/page-header"} /-->

	<!-- wp:pattern {"slug":"theme/entry-header"} /-->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|48-80"}}}} -->
	<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:var(--wp--preset--spacing--48-80)"/>
	<!-- /wp:separator -->

	<!-- wp:pattern {"slug":"theme/local-navigation"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
