@charset "UTF-8";
// ================================================================================
// Snow Monkey Forms
// スノーモンキーフォームのスタイル
// ================================================================================

@use '../00-config' as *;

// フォームのエレメント
// --------------------------------------------------------------- //

.snow-monkey-form {
    margin-top: rem(48);
    @media #{$md-devices} {
        margin-top: fluid-calc(60);
        max-width: fluid-calc(780);
    }
}

.smf-form {
    .smf-item {
        margin-bottom: rem(24);
        @media #{$md-devices} {
            margin-bottom: fluid-calc(24);
        }
    }

    .smf-item__label {
        margin: 0 0 rem(8);
        @media #{$md-devices} {
            font-size: fluid-calc(16);
            margin-bottom: fluid-calc(8);
        }
    }

    .smf-item__label__text {
        display: flex;
        gap: rem(8);
        align-items: center;
        font-size: rem(16);
        font-weight: 500;
        @media #{$md-devices} {
            gap: fluid-calc(8);
            font-size: fluid-calc(18);
        }
        mark {
            font-size: rem(13);
            line-height: 1.4;
            @media #{$md-devices} {
                font-size: fluid-calc(15);
            }
        }
    }
    
    .smf-item__controls {
        input {
            border-radius: 5px;
            border: 2px solid #FCE5E1;
            width: 100%;
            font-size: rem(16);
            line-height: 1.8;
            font-weight: 500;
            padding: rem(8) rem(12);
            @media #{$md-devices} {
                font-size: fluid-calc(16);
                padding: fluid-calc(12) fluid-calc(20);
            }
            &:focus {
                border: 2px solid $color-secondary;
            }
        }
        textarea {
            border-radius: 5px;
            border: 2px solid #FCE5E1;
            width: 100%;
            font-size: rem(16);
            line-height: 1.8;
            font-weight: 500;
            @media #{$md-devices} {
                font-size: fluid-calc(16);
                padding: fluid-calc(12) fluid-calc(20);
            }
            &:focus {
                border: 2px solid $color-secondary;
            }
        }
    }

    .smf-radio-buttons-control__control {
        display: flex;
        gap: rem(24);
        flex-wrap: wrap;
        @media #{$md-devices} {
            gap: fluid-calc(32);
        }
        .smf-label {
            display: block;
            white-space: nowrap;
        }

        input {
            width: rem(16);
            height: rem(16);
            padding: 0;
            border-radius: 100%;
            margin: 0;
            @media #{$md-devices} {
                width: fluid-calc(16);
                height: fluid-calc(16);
            }
            &:focus {
                border: 2px solid #FCE5E1;
                background: transparent;
            }
            &:checked {
                background: transparent;
                border: 2px solid #FCE5E1;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    width: rem(8);
                    height: rem(8);
                    background-color: #FCE5E1;
                    border-radius: 100%;
                    inset: 0;
                    margin: auto!important;
                    z-index: 1;
                    @media #{$md-devices} {
                        width: fluid-calc(8);
                        height: fluid-calc(8);
                    }
                }
            }

        }
    }

    .smf-radio-button-control {
        display: flex;
        align-items: center;
        gap: rem(8);
        @media #{$md-devices} {
            gap: fluid-calc(8);
        }
    }
    .smf-radio-button-control__label {
        display: block;
    }
}


.smf-action {
    margin-top: rem(48);
    display: flex;
    flex-direction: column;
    gap: rem(24);
    @media #{$md-devices} {
        margin-top: fluid-calc(48);
        gap: fluid-calc(32);
        flex-direction: row;
    }
    .smf-button-control {
        width: 100%;
        flex: 1;
    }
    button.smf-button-control__control {
        appearance: none;
        outline: none;
        background: #FCDFDC;
        font-size: rem(15);
        font-weight: 500;
        color: #fff;
        width: 100%;
        padding: rem(12);
        margin: 0 auto;
        border: none;
        @media #{$md-devices} {
            font-size: fluid-calc(15);
            padding: fluid-calc(12);
            @include hover-customize {
                background-color: $color-secondary;
            }
                
        }
    }
}

